body {
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    color: #aaa;
    margin-bottom: 30px;
}

#books {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.book {
    display: flex;
    align-items: center;

    background: #111;

    border: 1px solid #2a2a2a;

    padding: 20px;

    min-height: 140px;
}

.rank {
    font-size: 64px;
    font-weight: bold;

    width: 120px;

    color: white;

    flex-shrink: 0;
}

.cover {
    width: 90px;
    height: 130px;

    object-fit: cover;

    margin-right: 25px;

    background: #222;
}

.info {
    flex-grow: 1;
}

.info h2 {
    margin: 0;
    font-size: 42px;
}

.author {
    margin-top: 8px;

    color: #b5b5b5;

    font-size: 20px;
}

.rating {
    margin-top: 20px;

    font-size: 54px;

    font-weight: bold;
}

.side-info {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    align-items: flex-end;

    height: 130px;

    color: #cfcfcf;

    min-width: 160px;
}

.book-id {
    font-size: 18px;
}

.votes {
    font-size: 24px;
    font-weight: bold;
}
